export default app

body {
  font-family: Arial, Helvetica;
  background-color: #2b2e26; 
  color: #ffffff; 
}

#survey-form {
  max-width: 400px;
  margin: 40px auto;
  background-color: #587a33; 
  padding: 30px;
  border-radius: 10px;
}

